.login-container {
  width: 100%;
  min-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: url("../images/login-background.jpg") no-repeat center center;
  background-size: cover;
}

.login-container .form-wrapper {
  width: 500px;
  min-width: 400px;
  height: 100%;
  padding: 70px 50px;
  background-color: #ffffff;
}

.login-container .form-wrapper .logo {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.login-container .form-wrapper .logo span {
  font-size: 32px;
  font-weight: 300;
  color: #788195;
}

.login-container .form-wrapper .form-container .login-footer {
  display: flex;
  justify-content: space-between;
}

.login-container .form-wrapper .form-container .login-footer #already-have-account {
  cursor: pointer;
}