.chat-container {
  overflow: hidden;
  height: 100vh;
}

.chat-container .header {
  color: #ffffff;
  background-color: #4482FF;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  text-align: center;
}

.chat-container .main {
  height: calc(100% - 64px);
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

.chat-container .main .conversation-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container .main .conversation-detail .conversation-header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  font-size: 20px;
}

.chat-container .main .conversation-detail .conversation-messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 12px;
}

.chat-container .main .conversation-detail .conversation-input {
  display: flex;
  height: 64px;
  line-height: 64px;
  border-top: 1px solid #e9e9e9;
  padding-left: 12px;
}

.chat-container .main .conversation-detail .conversation-input input {
  height: 64px;
  flex: 1;
}

.chat-container .main .conversation-detail .conversation-input button {
  font-weight: 550;
  margin: 0px 12px;
}

.chat-container .main .conversation-detail .conversation-input input:focus {
  outline: none;
}

.message-container {
  margin: 6px;
  width: 100%;
}

.message {
  padding: 6px 12px;
  max-width: 40%;
  background-color: #e9e9e9;
  border-radius: 8px;
  display: inline-block;
}

.your {
  text-align: right;
}

.your .message {
  direction: ltr;
  text-align: left;
  background: #4482FF;
  color: #ffffff;
}

.sender {
  font-size: 10px;
  color: #595959;
}

.chat-container .main .conversation-list {
  border-right: 1px solid #e9e9e9;
}

.chat-container .main .conversation-list .conversation {
  height: 64px;
  line-height: 64px;
  padding-left: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .main .conversation-list .selected-conversation {
  background-color: rgba(0, 0, 0, .05);
}

.chat-container .main .conversation-list .create-conversation {
  height: 64px;
  line-height: 64px;
  padding-left: 12px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
}