* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.input {
  height: 42px;
  padding: 6px 10px;
  width: 100%;
  text-align: left;
  font-size: 13px;
  line-height: 1.5;
  color: #595959;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.btn {
  font-weight: 500;
  color: #ffffff;
  background-color: #4482FF;
  border-color: #4482FF;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 4px;
  height: 36px;
}

.error {
  color: #f5222d;
}